* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  color: rgb(7, 200, 203);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.heart_beating {
  position: relative;
}

.heart {
  position: relative;
  width: 50px;
  height: 50px;
  background: red;
  transform: rotate(45deg);
  animation: up 2s ease-out infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.heart::before {
  top: -25px;
}

.heart::after {
  left: -25px;
}

.glow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 25px;
  bottom: 48px;
  border-radius: 100% 0%;
  border-left: 2px solid #ffeaa5;
  transform: rotate(90deg);
}

.shadow-header {
  width: 70px;
  height: 20px;
  background: #4a676a;
  opacity: 0.2;
  border-radius: 100%;
  position: absolute;
  bottom: -50px;
  right: -10px;
  animation: up_shadow 2s ease-out infinite;
}

@keyframes up {
  0%,
  40%,
  70%,
  100% {
    transform: scale(1) rotate(45deg);
  }

  20% {
    transform: scale(1.4) rotate(45deg);
  }

  50%,
  80% {
    transform: scale(1.2) rotate(45deg);
  }
}

@keyframes up_shadow {
  0%,
  40%,
  70%,
  100% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.4);
  }

  50%,
  80% {
    transform: scale(1.2);
  }
}

.clique-entre {
  margin-top: 6%;
}

.p-frase {
  color: rgb(230, 29, 63);
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 55%;
  animation: type 4s steps(90, end);
}

.titule-crush {
  margin-top: -4%;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.no-button {
  background-color: red;
}

/********************************************** PAGE DASHBOARD ***************************************/

.container-d {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.container-d p {
  margin: 0;
  margin-top: -2.5%;
}

p:nth-child(2) {
  animation: type2 8s steps(60, end);
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

::selection {
  background: black;
}

/********************************************** PAGE DEFAULT ***************************************/

.default-navegator {
  margin: 0 auto;
  padding: 7%;
  color: white;
}

.deu-ruim {
  margin-top: 2%;
  color: lime;
}

/************************************************** up responsive ***************************************************/
@media (max-width: 648px) {
  .text-entre {
    padding: 15%;
    margin-top: -28%;
    background-color: black;
  }

  .default-navegator {
    margin-top: -47%;
  }

  .clique-entre {
    margin-top: 20%;
  }

  .container-d {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0px;
  }

  .container-d p {
    margin-top: 5%;
  }

  .deu-ruim {
    left: 16%;
    margin-top: 5%;
    color: lime;
  }
}

* {
  padding: 0;
  margin: 0;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
